.button, .secondary{
    padding: 8px 16px;
    border: 2px solid #1E58FF;
    width: min-content;
    min-width: min-content;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
}
.secondary{
    background-color: #1E58FF;
    color: #FFF;
}
.button{
    background: none;
    border: 2px solid #1E58FF;
    color: #1E58FF;
}